<html>
    <body>
        <h5>Dear ${user.firstName},</h5>
        
        <div>Your password has been changed at ${time}.</div>
        
        <p><b>If NOT YOU, Please go to <a href="${lixiGlobalLink}" target="_blank">Lixi.Global</a> to get reset password link !</b></p>

        <div>
            Thank you<br/>
            <h5> LiXi.Global Support Team</h5>
        </div>
    </body>
</html>