<html>
    <body>
        <h5>Hi All,</h5>
        
        <p>The value of config name ${configName} has been changed</p>
        <p>
            from <b>${oldValue}</b> to <b>${newValue}</b>
        </p>

        <div>
            <h5> LiXi.Global Support Team</h5>
        </div>
    </body>
</html>