<html>
    <body>
        <h5>Hi,</h5>
        
        <p>Lixi.Global has encountered an error.</p>
        <p>Failed URL: ${url}</p>
        <p>Client IP: ${ipAddress}</p>
        <p>Host Name: ${hostName}</p>
        <p>User-Agent: ${userAgent}</p>
        <p>Exception message:  ${errMessage}</p>
        <p>Details: <br/> ${errDetails}</p>

        <div>
            <h5> LiXi.Global Support Team</h5>
        </div>
    </body>
</html>