<html>
    <body>
        <p><b>Hi ${sender.firstName},</b></p>
        
        <h4>Thank you for your payment</h4>
        
        <h4>Your order id: ${LIXI_ORDER_ID}</h4>
        <p>${orderDate}</p>

        <div>
            <table class="recipient">
                #foreach ($entry in $REC_GIFTS)
                    ## ${velocityCount} ${foreach.index}
                    <tr>
                        <td><b>${foreach.count}</b></td>
                        <td style="max-width: 250px;">Send to</td>
                        <td>${entry.recipient.firstName}&nbsp;${entry.recipient.middleName}&nbsp;${entry.recipient.lastName}</td>
                        <td style="text-align: right;">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Email Address</td>
                        <td>${entry.recipient.email}</td>
                        <td style="text-align: right;">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mobile Phone</td>
                        <td>${entry.recipient.phone}</td>
                        <td style="text-align: right">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Order Summary</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    #set ($String = "abc")
                    #set ($recGiftIndex = 0)
                    #foreach ($g in $entry.gifts)
                        #set ($recGiftIndex = $foreach.count)
                        #set ($priceInUSD = $g.getPriceInUSD($LIXI_ORDER.lxExchangeRate.buy))
                        #set ($totalVnd = $g.productPrice * $g.productQuantity)
                        #set ($totalUsd = $priceInUSD * $g.productQuantity)
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <table>
                                    <tr>
                                        <td>${foreach.count}</td>
                                        <td class="col-md-1">Item</td>
                                        <td>
                                            ${g.category.name}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            ${g.productName}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            ${g.productQuantity} x ${String.format("%.2f", $g.productPrice)} VND
                                            &nbsp;=&nbsp;${String.format("%.2f", ${totalVnd})} VND
                                            or ${String.format("%.2f", ${totalUsd})} USD
                                        </td>
                                        <td style="text-align: right"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    #end
                    #foreach ($t in $entry.topUpMobilePhones)
                        #set ($recTopUpIndex = $recGiftIndex + $foreach.count)
                        #set ($totalVnd = $t.amount)
                        #set ($totalUsd = $t.amountUsd)
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <table>
                                    <tr>
                                        <td>${recTopUpIndex}</td>
                                        <td class="col-md-1">Item</td>
                                        <td>
                                            Top Up
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            ${String.format("%.2f", ${totalVnd})} VND or ${t.amountUsd} USD
                                        </td>
                                        <td style="text-align: right"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    #end
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td></td>
                                    <td><b>Shipping Charge:</b></td>
                                    <td>$<b>${entry.shippingChargeAmount}</b></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                #end
                <tr>
                    <td colspan="4"><p>&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="4"><hr/></td>
                </tr>
  
                <tr>
                    <td></td>
                    <td><b>Gift Price:</b></td>
                    <td><b>$${LIXI_GIFT_PRICE}</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Total shipping charge:</b></td>
                    <td><b>$${TOTAL_SHIPPING_CHARGED}</b></td>
                    <td></td>
                </tr>
                #if ($CARD_PROCESSING_FEE_THIRD_PARTY)
                    <tr>
                        <td></td>
                        <td>
                            <b>
                            #if ($LIXI_ORDER.card)
                                Card Processing Fee:
                            #end        
                            #if ($LIXI_ORDER.bankAccount)
                                eCheck Processing Fee:
                            #end    
                            </b>
                        </td>
                        <td>
                            <b>$<span>${CARD_PROCESSING_FEE_THIRD_PARTY}</span></b>
                        </td>
                        <td></td>
                    </tr>
                #end
                <tr>
                    <td></td>
                    <td><b>Lixi Handling Fee:</b></td>
                    <td><b>$<span>${String.format("%.2f", ${LIXI_HANDLING_FEE_TOTAL})}</span></b> ($${LIXI_HANDLING_FEE} per person)<br/>

                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>TOTAL:</b></td>
                    <td><b>$<span>${LIXI_FINAL_TOTAL}</span></b></td>
                    <td></td>
                </tr>
            </div>
        <div><p>Please enjoy.</p></div>

        <div>
            Thank you<br/>
            <h5> LiXi.Global Support Team</h5>
        </div>
    </body>
</html>