<html>
    <body>
        <h5>Hi ${user.firstName} ${user.middleName} ${user.lastName},</h5>
        
        <div>Thank you for registering at our site. Please click the link below to complete your registration.</div>
        
        <div>
            <p>
            <a href="${regisConfirmPath}" target="_blank">${regisConfirmPath}</a>
            </p>
        </div>
        
        <div><p>Please remember that the activation code will be expired after one day.</p></div>

        <div>
            Thank you<br/>
            <h5> LiXi.Global Support Team</h5>
        </div>
    </body>
</html>