<html>
    <body>
        <h5>Dear ${user.firstName} ${user.middleName} ${user.lastName} !</h5>
        
        <div>Someone has requested to re-set your password.</div>
        
        <p><b>If NOT YOU, Please ignore this email !</b></p>

        <p>If it was you, Please click the link below to complete your registration.<p>
            <p>
            <a href="${resetPasswordPath}" target="_blank">${resetPasswordPath}</a>
            </p>

        <div>
            Thank you<br/>
            <h5> LiXi.Global Team</h5>
        </div>
    </body>
</html>