<html>
    <body>
        <h5>Hi ${rec.firstName},</h5>
        
        <div>
            <p>
            ${sender.firstName} ${sender.middleName} ${sender.lastName} top up ${amount} VND to mobile number ${rec.phone}
            </p>
        </div>
        
        <div>
            <p>
            Message for you:  ${rec.note}
            </p>
        </div>
        <div><p>Please let ${sender.firstName} know you have received the gift.</p></div>

        <div>
            Thank you<br/>
            <h5> Lixi.Global Support Team</h5>
        </div>
    </body>
</html>