<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div class="list_cate_product">
            <ul class="list-pd">
                <li>
                    <div class="img">
                        <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/baskin-robbins/banh-kem-lanh-tron-15cm-74.html">
                            <img src="https://img.gotit.vn/compress/580x580/2016/06/1466132376_b7hO9.png" alt="Bánh Kem Lạnh Tròn 15cm">
                        </a>
                    </div>
                    <div class="copy js-height" style="height: 109px;">
                        <h3>Baskin Robbins</h3>
                        <p class="product_name">Bánh Kem Lạnh Tròn 15cm</p>
                        <p class="prize"><span>290.000<sup>đ</sup> - 330.000<sup>đ</sup></span></p>
                    </div>
                    <input type="hidden" value="2" id="product_stt">
                    <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/baskin-robbins/banh-kem-lanh-tron-15cm-74.html"><span></span></a>
                </li>
                <li>
                    <div class="img">
                        <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/mof-japanese-dessert-cafe/voucher-tien-mat-458.html">
                            <img src="https://img.gotit.vn/compress/590x590/2016/03/1457083615_4OxMF.png" alt="Voucher Tiền Mặt">
                        </a>
                    </div>
                    <div class="copy js-height" style="height: 109px;">
                        <h3>MOF Japanese Dessert Cafe</h3>
                        <p class="product_name">Voucher Tiền Mặt</p>
                        <p class="prize"><span>75.000<sup>đ</sup> - 250.000<sup>đ</sup></span></p>
                    </div>
                    <input type="hidden" value="2" id="product_stt">
                    <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/mof-japanese-dessert-cafe/voucher-tien-mat-458.html"><span></span></a>
                </li>
                <li>
                    <div class="img">
                        <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/baskin-robbins/kem-sundaes-38.html">
                            <img src="https://img.gotit.vn/compress/580x580/2016/06/1466133796_C3p3P.png" alt="Kem Sundaes">
                        </a>
                    </div>
                    <div class="copy js-height" style="height: 109px;">
                        <h3>Baskin Robbins</h3>
                        <p class="product_name">Kem Sundaes</p>
                        <p class="prize"><span>70.000<sup>đ</sup> - 145.000<sup>đ</sup></span></p>
                    </div>
                    <input type="hidden" value="2" id="product_stt">
                    <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/baskin-robbins/kem-sundaes-38.html"><span></span></a>
                </li>
                <li>
                    <div class="img">
                        <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/breadtalk/hai-banh-mi-nhan-ga-pho-mai-430.html">
                            <img src="https://img.gotit.vn/compress/580x580/2016/06/1466139012_htwXX.png" alt="Hai Bánh Mì Nhân Gà Phô Mai">
                        </a>
                    </div>
                    <div class="copy js-height" style="height: 109px;">
                        <h3>BreadTalk</h3>
                        <p class="product_name">Hai Bánh Mì Nhân Gà Phô Mai</p>
                        <p class="prize"><span>44.000<sup>đ</sup></span></p>
                    </div>
                    <input type="hidden" value="2" id="product_stt">
                    <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/breadtalk/hai-banh-mi-nhan-ga-pho-mai-430.html"><span></span></a>
                </li><li>
                    <div class="img">
                        <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/breadtalk/hai-banh-mi-nhan-ga-pho-mai-430.html">
                            <img src="https://img.gotit.vn/compress/580x580/2016/06/1466139012_htwXX.png" alt="Hai Bánh Mì Nhân Gà Phô Mai">
                        </a>
                    </div>
                    <div class="copy js-height" style="height: 109px;">
                        <h3>BreadTalk</h3>
                        <p class="product_name">Hai Bánh Mì Nhân Gà Phô Mai</p>
                        <p class="prize"><span>44.000<sup>đ</sup></span></p>
                    </div>
                    <input type="hidden" value="2" id="product_stt">
                    <a href="https://www.gotit.vn/thuc-an-nhanh-va-cafe/breadtalk/hai-banh-mi-nhan-ga-pho-mai-430.html"><span></span></a>
                </li>
            </ul>
        </div>        
    </body>
</html>
