#home {
	background: #fff url(../img/home.bg.jpg) center center no-repeat;
	background-size: auto 100%;
}

.usp-wrapper {
	width: 100%;
	padding: 40px 0
}

.usp {
	color: #0093DD;
	font-size: 15pt;
	text-align: center;
}

.usp .strong { 
	font-weight: bold;
	font-size: 20pt;
}

.usp .price { 
	font-weight: bold;
	font-size: 20pt;
}

.usp .star { 
	font-weight: bold;
	font-size: 20pt;
}

.desc .img {
	min-height: 180px;
	background-repeat: no-repeat;
	text-align: center;
}

.desc .img.arrow {
	min-height: 60px;
	margin-top: 20px;
}

.desc .img.choose-value {
	background-image: url(../img/home.choose-value.png);
	background-position: center top
}
.desc .img.make-payment {
	background-image: url(../img/home.make-payment.png);
	background-position: center top
}
.desc .img.send-gift {
	background-image: url(../img/home.send-gift.png);
	background-position: center top
}
.desc .img.arrow {
	background-image: url(../img/home.arrow.png);
	background-position: center center
}
.desc p {
	margin: 170px auto 0 auto;
	font-weight: bold;
	font-size: 16px;
	max-width: 250px;
}

.star-desc {
	padding: 15px 0;
	text-align: center
}


@media (min-width: 768px) {
	#home {
		background-size: auto;
	}
	
	.usp-wrapper {
		padding: 80px 0
	}
	
	.usp {
		font-size: 20pt;
	}

	.usp .strong { 
		font-size: 30pt;
	}

	.usp .price { 
		font-size: 30pt;
	}

	.usp .star { 
		font-size: 30pt;
	}
	
	.desc p {
		display: none;
	}
	
	.desc .col-sm-1 {
		width: 12.49999995%
	}
	
	.desc .img {
		min-height: 180px;
	}

	.desc .img.choose-value {
		background-position: 0 0
	}
	.desc .img.make-payment {
		background-position: 0 0
	}
	.desc .img.send-gift {
		background-position: 0 0
	}
	.desc .img.arrow {
		background-position: center bottom;
		background-size: 100% auto
	}
	
	.desc-txt {
		margin-top: 30px;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
	}
	
	.desc-txt p {
		max-width: 260px;
		margin: 0 auto;
	}
	
	.star-desc {
		text-align: right
	}
}

@media (min-width: 992px) {
	.usp-wrapper {
		width: 100%;
		padding: 80px
	}

	.usp {
		color: #0093DD;
		font-size: 20pt;
		text-align: center;
		max-width: 500px
	}

	.usp .strong { 
		font-weight: bold;
		font-size: 30pt;
	}

	.usp .price { 
		font-weight: bold;
		font-size: 30pt;
	}

	.usp .star { 
		font-weight: bold;
		font-size: 30pt;
	}


	#home {
		background-position: center center;
	}
	
	.desc .col-md-2 {
		width: 16.66666667% !important;
	}
	
	.desc .img.arrow {
		background-size: auto;
		min-height: 80px;
	}
}

@media (min-width: 1200px) {
	#home {
		background-position: center center;
	}
	
	.desc .col-lg-2 {
		width: 16.66666667% !important;
	}
}

@media (min-width: 1280px) {
	#home {
		background-size: 100%;
	}
}


.bg-height-full {
	background-size: auto 100% !important;
}