#password-assistance {
	padding: 45px 0
}

#password-assistance legend {
	font-weight: bold;
	border: 0
}

#password-assistance .form-group.right {
	text-align: right;
	margin-top: 30px;
}

#password-assistance .desc {
	margin: 0 0 20px 0;
}

#captcha-img {
	width: 50%;
	padding-right: 15px;
	float: left;
}

#captcha {
	width: 50%;
	float: left;
}

@media (min-width: 768px) {
	#captcha-img {
		width: 30%;
		padding-right: 15px;
		float: left;
	}

	#captcha {
		width: 70%;
		float: left;
	}

	#password-assistance {
		padding: 85px 0
	}
	
	#password-assistance .desc {
		margin: 10px 0 20px 0;
	}
}