#pay-by-card {
	padding: 45px 0
}

#pay-by-card legend {
	font-weight: bold;
	border: 0
}

#pay-by-card .form-group.right {
	text-align: right;
	margin-top: 30px;
}
#pay-by-card .form-group.right a:first-child {
	float: left;
}

#pay-by-card .desc {
	margin: 30px 0 20px 0;
}
#pay-by-card .form-group.name input {
	width: 30%;
	margin-right: 5%;
	float: left;
}

#pay-by-card .form-group.name input:last-child {
	margin-right: 0;
}

#types li {
	float: left;
	padding: 0 15px;
	width: 50%;
}

#types li label {
	padding: 0;
	display: inline-block;
	text-align: center;
	width: 100%;
}

#types li span.lixi-radio {
	margin: 0 auto;
}

#types li span.txt {
}

@media (min-width: 768px) {
	#pay-by-card {
		padding: 85px 0
	}
	
	#pay-by-card .desc {
		margin: 10px 0 20px 0;
	}
	
	#types li {
		width: auto;
	}
}