#pay-by-bank-account {
	padding: 45px 0
}

#pay-by-bank-account legend {
	font-weight: bold;
	border: 0
}

#pay-by-bank-account .form-group.right {
	text-align: right;
	margin-top: 30px;
}
#pay-by-bank-account .form-group.right a:first-child {
	float: left;
}

#pay-by-bank-account img {
	margin: 0 0 30px 0;
	max-width: 100%;
}

@media (min-width: 768px) {
	#pay-by-bank-account {
		padding: 85px 0
	}
}