#recipient {
	padding: 45px 0
}

#recipient legend {
	font-weight: bold;
	border: 0
}

#recipient .form-group.right {
	text-align: right;
	margin-top: 30px;
}

#recipient .desc {
	margin: 0 0 20px 0;
}
#recipient .form-group.name input {
	/*width: 30%;*/
	margin-right: 5%;
	float: left;
}

#recipient .form-group.name input:last-child {
	margin-right: 0;
}

#recipient textarea {
	height: 90px;
	resize: none;
}

@media (min-width: 768px) {
	#recipient {
		padding: 85px 0
	}
	
	#recipient .desc {
		margin: 10px 0 20px 0;
	}
}