#registration {
	padding: 45px 0
}

#registration legend {
	font-weight: bold;
	border: 0
}

#registration .form-group.right {
	text-align: right;
	margin-top: 30px;
}

#registration .desc {
	margin: 0 0 20px 0;
}
#registration .form-group.name input {
	/*width: 30%;*/
	margin-right: 5%;
	float: left;
}

#registration .form-group.name input:last-child {
	margin-right: 0;
}

@media (min-width: 768px) {
	#registration {
		padding: 85px 0
	}
	
	#registration .desc {
		margin: 10px 0 20px 0;
	}
}