#sign-in {
	padding: 45px 0
}

#SignInForm legend {
	font-weight: bold;
	border: 0
}
#SignInForm .radio {
	padding-bottom: 7px;
}

#SignInForm .form-group.right {
	text-align: right;
}
#SignInForm .form-group.right .forgot-password {
	display: inline-block;
	margin: 20px 0;
	font-weight: bold;
	text-decoration: none;
}

#help .title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}

#help a {
	display: inline-block;
	font-weight: bold;
	padding: 5px 0;
}
#help .txt {
	display: inline-block;
}

@media (min-width: 992px) {
	#sign-in {
		padding: 85px 0
	}

	#SignInForm.form-horizontal .control-label {
		text-align: left;
	}
	
	#SignInForm .control-label, #SignInForm .radio label {
		padding-left: 0
	}

	#password {
		margin-top: 70px;
	}
}