
body {
	padding-top: 55px;
}

body.debug .container {
	border-left: #d00 solid 1px;
	border-right: #d00 solid 1px;
}

a {
	color: #0291DF;
	font-weight: bold;
}
a:hover {
	color: #337ab7;
	text-decoration: none;
}

#header {
	min-height: 55px;
	padding: 7px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	position: fixed;
	width: 100%;
	background-color: #fff;
	top: 0;
	z-index: 1000;
}

#header .row {
	text-align: center;
	position: relative;
}

#header .welcome {
	color: #333;
	cursor: default
}

#logo {
	margin: 0 auto;
}

#logo img {
	max-height: 41px;
}

#menu-toggle {
	position: absolute;
	color: #333;
	font-size: 30px;
	right: 0; top: 0;
	cursor: pointer;
}

#menu-toggle i {
	line-height: 41px;
	height: 41px;
}

#menu-items {
	margin: 7px 0 0 0;
	padding: 0;
	width: 100%;
	background-color: #fff;
	text-align: left;
	border-top: #c0c0c0 solid 1px;
	display: none;
}
#menu-items li {
	padding: 10px;
	border-top: #c0c0c0 solid 1px;
	list-style: none;
}
#menu-items li a {
	color: #0092DB;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
#menu-items li:first-child {
	border-top: 0;
}
#menu-items li.separator {
	display: none;
}
#menu-items .languages {
	text-align: center;
	padding-top: 20px;
}
#menu-items .languages a {
	padding: 5px 10px;
	border: #0092DD solid 1px;
	margin: 0 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: normal;
}
#menu-items .languages a:hover, #menu-items .languages a.active {
	color: #fff;
	background-color: #0092DD;
}

/*----------------footer-----------------*/
#footer{
	background-color:#00549A;
	color: #fff;
}

#footer a {
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	text-decoration: none;
}

#footer .links {
	text-align: center;
	margin: 40px 0 20px 0;
}

#footer .links span {
	margin: 0 10px;
	font-size: 19px;
}

#footer .copyright {
	text-align: center;
	color: #7F9DBF;
	margin: 0 0 40px 0;
}


#page-content .row {
	padding: 40px 0;
	background-color: #fff;
}

input.lixi-radio {
	display: none;
}
input.lixi-radio + span.lixi-radio {
	display: inline-block;
	width: 25px; height: 25px;
	border: #0191DD solid 1px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
}
input.lixi-radio + span.lixi-radio span {
	display: inline-block;
	width: 15px; height: 15px;
	margin:4px;
	
}
input.lixi-radio:checked + span.lixi-radio span {
	background-color: #0191DD;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
input.lixi-radio + span.lixi-radio + span.txt {
	line-height: 27px;
	height: 27px;
	float: left;
	margin-left: 10px;
}

.btn.btn-primary {
	background-color: #0193DE;
	border-color: #0193DE;
	padding: 7px 30px;
	font-weight: bold;
}

.msg {
	margin-bottom: 20px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #45AEE3;
	color: #fff
}
.msg-error {
	padding-left: 50px;
	color: #FE0000;
	background-color: #FFD2D2;
	background-image: url(../img/warning.icon.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}

.normal-page {
	padding: 45px 0
}

.normal-page h1 {
	font-weight: bold;
	font-size: 21px;
	border: 0
}

.intl-tel-input {
	width: 100%;
}

.info-bound {
	padding: 20px;
	border: #404040 solid 1px;
	margin: 10px 0 30px 0;
}
.info-bound table {
	width: 100%;
}
.info-bound table td {
	padding: 5px;
}
.normal-page .btns {
	text-align: right;
}

.normal-page .btns a {
	margin-left: 20px;
}

.normal-page .btns .left {
	float: left;
	margin-left: 0;
}
.errors {
                color:#fe0000;
            }
@media (min-width: 768px) {
	body {
		padding-top: 95px;
	}
	
	#header {
		height: 95px;
		padding: 10px;
		
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
	}
	
	#header .row {
		text-align: left;
	}
	
	#logo {
		float: left;
	}
	
	#logo img {
		max-height: 95px;
	}
	
	#menu-toggle {
		display: none;
	}
	
	#menu-items {
		display: inline-block !important;
		margin: 0;
		padding: 0;
		width: auto;
		float: right;
		border: 0
	}
	
	#menu-items li {
		float: left;
		border: 0;
		height: 68px;
	}
	
	#menu-items li.separator {
		color: #DADADA;
		display: inherit;
	}
	
	#menu-items .languages {
		padding-top: 10px;
	}
	
	#menu-items a , #menu-items span {
		line-height: 48px
	}
	
	#footer .links a, #footer .links span {
		font-size: 14px;
	}
	
	.msg {
		margin-bottom: 30px;
		padding: 15px;
	}
	.msg-error {
		padding-left: 60px;
		background-position: 20px center;
	}
	
	.form-horizontal .control-label {
		text-align: left;
		padding-bottom: 10px;
	}
	
	.normal-page {
		padding: 85px 0
	}
}

@media (min-width: 992px) {
	#footer {
		height: 80px;
	}
	
	#footer .links span {
		margin: 0 8px;
	}
	
	#footer .links span, #footer .links a, #footer .copyright span {
		height: 80px; line-height: 80px;
	}
	
	#footer .links, #footer .copyright {
		margin: 0;
		
	}
}

@media (min-width: 1200px) {
	
}

.section-85-0{
    padding: 85px 0;
}

legend{
    border:0 none;
    font-weight: bold;
}
