#type-of-gift {
	padding: 45px 0
}

#type-of-gift legend {
	font-weight: bold;
	border: 0
}

#type-of-gift .form-group.right {
	text-align: right;
	margin-top: 30px;
}
#type-of-gift .form-group.right a:first-child {
	float: left;
}

#type-of-gift .desc {
	margin: 0 0 20px 0;
}
#type-of-gift .form-group.name input {
	width: 30%;
	margin-right: 5%;
	float: left;
}

#type-of-gift .form-group.name input:last-child {
	margin-right: 0;
}

#types li {
	float: left;
	padding: 15px;
	width: 50%;
}

#types li label {
	padding: 0;
	display: inline-block;
	text-align: center;
	width: 100%;
}

#types li span.lixi-radio {
	margin: 0 auto;
	float: none;
}

#types li span.txt {
	width: 100%;
	margin: 15px 0 0 0;
}

@media (min-width: 768px) {
	#type-of-gift {
		padding: 85px 0
	}
	
	#type-of-gift .desc {
		margin: 10px 0 20px 0;
	}
	
	#types li {
		width: auto;
	}
}