#value-of-gift {
	padding: 45px 0
}

#value-of-gift legend {
	font-weight: bold;
	border: 0
}

#value-of-gift .form-group.right {
	text-align: right;
	margin-top: 30px;
}
#value-of-gift .form-group.right a:first-child {
	float: left;
}

#value-of-gift .desc {
	margin: 0 0 20px 0;
}
#value-of-gift .form-group.name input {
	width: 30%;
	margin-right: 5%;
	float: left;
}

#value-of-gift .form-group.name input:last-child {
	margin-right: 0;
}

@media (min-width: 768px) {
	#value-of-gift {
		padding: 85px 0
	}
	
	#value-of-gift .desc {
		margin: 10px 0 20px 0;
	}
}